body {
	margin: 0;
	background: #f7f4D5;
	font-family: "klinic", georgia, serif;
}
p {
	font-size: 20px;
}
a {
	text-decoration: none;
	color: #5eb889;
}
.topnav a:hover, .btmnav a:hover{
	color: #b55a88;
}
h2 {
	font-family: 'cubano', verdana, san-serif;
	color: #131E13;
	font-size: 40px;
}
.topnav {
	background: #141E13;
	padding: 5px 0;
	position: fixed;
	width: 100%;
	top: 0;
}
.topnav ul li {
	display: inline-block;
	color: #53C48B;
	padding: 5px 0;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	margin-right: 10%;
	font-family: 'klinic', georgia, serif;
}
.topnav ul li:nth-child(1) {
	margin-left: 20%;
}
#sel1, #sel2, #sel3, #sel4, #selRes, #selRead{
	color: #f6f4d5;
}
.title {
	height: 117px;
	background: #53C48B;
	padding: 0.02% 0;
	margin-top: 4%;
	margin-bottom: 0;
}
.title h1 {
	font-family: 'cubano', verdana, san-serif;
	text-align: center;
	font-size: 70px;
	color: #141E13;
}
header img {
	width: 100%;
	padding-top: 0;
	z-index: -1;
}
.pageTitle {
	font-family: 'cubano', verdana, san-serif;
	text-align: center;
	font-size: 70px;
	color: #141E13;
	margin-top: 10px;
	margin-bottom: 5px;
}
.main {
	margin-bottom: 1100px;
	z-index: -2;
}
.btmnav {
	background: #141E13;
	height: 20%;
}
.btmnav ul li {
	display: inline-block;
	color: #53C48B;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	margin-right: 5%;
	font-family: 'klinic', georgia, serif;
	padding: 3% 0 0.5% 0;
}
.btmnav ul li:nth-child(1) {
	margin-left: 15%;
}
.btmnav p {
	text-align: right;
	font-size: 12px;
	margin-right: 10%;
	color: #53C48B;
}
@media screen and (max-width: 1200px) {
	.topnav {
		padding: 5px 0;
		position: fixed;
		width: 100%;
		top: 0;
	}
	.topnav ul li {
		padding: 5px 0;
		text-align: center;
		margin-right: 10%;
	}
	.topnav ul li:nth-child(1) {
		margin-left: 10%;
	}
	.main {
		margin-bottom: 1600px;
	}
}
@media screen and (max-width: 900px) {
	.topnav ul li {
		margin-right: 7%;
	}
	.topnav ul li:nth-child(1) {
		margin-left: 7%;
	}
	.main {
		margin-bottom: 1800px;
	}
}
@media screen and (max-width: 800px) {
	.topnav {
		padding: 2px 0;
	}
	.topnav ul li {
		padding: 2px 0;
		margin-right: 4%;
		font-size: 12px;
	}
	.topnav ul li:nth-child(1) {
		margin-left: 4%;
	}
	.title h1 {
		margin-top: 70px;
		font-size: 40px;
	}
	.pageTitle {
		font-size: 40px;
	}
	h2 {
		font-size: 30px;
	}
	p {
		font-size: 15px;
	}
	.main {
		margin-bottom: 2200px;
	}
}
@media screen and (max-width: 500px) {
	.title h1 {
		font-size: 30px;
		margin-top: 80px;
	}
	.topnav ul li {
		margin-left: 45px;
	}
	.main {
		margin-bottom: 2400px;
	}
	h2 {
		font-size: 20px;
	}
}
